@model CoffeeSubscriptionManager.FrontEnd.Models.CreateViewModel
@{
    ViewData["Title"] = "Update Customer";
}

<h1>Update Customer</h1>

<div class="form">
    @using (@Html.BeginForm("CreateCustomer", "Customer", FormMethod.Post))
    {

        <h4>Create Customer</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="CreateCustomer">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group-update" hidden>
                        <label asp-for="CreatedCustomer.Id" class="control-label"></label>
                        <input asp-for="CreatedCustomer.Id" class="form-control" />
                        <span asp-validation-for="CreatedCustomer.Id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CreatedCustomer.FirstName" class="control-label"></label>
                        <input asp-for="CreatedCustomer.FirstName" class="form-control" />
                        <span asp-validation-for="CreatedCustomer.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CreatedCustomer.Surname" class="control-label"></label>
                        <input asp-for="CreatedCustomer.Surname" class="form-control" />
                        <span asp-validation-for="CreatedCustomer.Surname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CreatedCustomer.Email" class="control-label"></label>
                        <input asp-for="CreatedCustomer.Email" class="form-control" />
                        <span asp-validation-for="CreatedCustomer.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CreatedCustomer.FirstLineOfAddress" class="control-label"></label>
                        <input asp-for="CreatedCustomer.FirstLineOfAddress" class="form-control" />
                        <span asp-validation-for="CreatedCustomer.FirstLineOfAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CreatedCustomer.SecondLineOfAddress" class="control-label"></label>
                        <input asp-for="CreatedCustomer.SecondLineOfAddress" class="form-control" />
                        <span asp-validation-for="CreatedCustomer.SecondLineOfAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CreatedCustomer.City" class="control-label"></label>
                        <input asp-for="CreatedCustomer.City" class="form-control" />
                        <span asp-validation-for="CreatedCustomer.City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CreatedCustomer.Postcode" class="control-label"></label>
                        <input asp-for="CreatedCustomer.Postcode" class="form-control" />
                        <span asp-validation-for="CreatedCustomer.Postcode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    }
</div>

<div>
    <a asp-action="Customer">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

